body {
    padding: 122px;
    padding: ;
}

.container {
    height: 400px;
    width: 900px;
    padding: 20px;
    background-color: rgb(121, 28, 208);
    box-shadow: 6px 8px 15px rgb(223, 40, 70);
    margin: 30px auto;
    border-radius: 5px;
}
